<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:float="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
  </head>
  <style>
    table,
    td,
    th {
      width: 1000px;
      border: 1px solid black;
      border-collapse: collapse;
      font-size: 16px;
    }
    label{
      font-size: 16px;
    }
    button{
      border: 0;
      line-height: 2.5;
      font-size: 1rem;
      padding: 0 20px;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      border-radius: 10px;
      background-color: rgb(0, 180, 220);
      background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
      );
    box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    }
    .search:hover{
        background-color: aqua;
    }
    .ftitle {
      text-align: left;
      margin: 10px 0 0 0;
      font-size: 20px;
    }
    .fitem {
      text-align: left;
    }
    .info label{
      width: 1000px;
    }
    .dtable select{
      border:none;
    }
  </style>

  <body>
<!-- 메뉴명 -->
      <div class="main">
        <div>      
            <a style="font-size: 20px">株式会社ブライトスター</a>
        </div>
        
        <div style="margin-left: 380px">
            <a style="font-size: 35px">社内統合管理システム</a>
        </div>
        
        <div>
        <label style="font-size: 12px">BRIGHT STAR CO.LTD.</label>  
        </div>

    <!-- 사원등록 -->
    <div style="background-color: gray; font-size: 24px; margin: 10px 0px 10px 0px; width: 1200px"><a style="color: blue">■ </a>社員登録</div>

    <!-- 기본정보 -->
    <div style="width: 1000px; height: 280px; padding: 0px 20px">
      <div class="ftitle">基本情報</div><hr style="border-color: aqua;">
      <div class="info">
        <div class="fitem" style="margin: 10px 0px 10px 0px;">
          <label>社員コード:</label>
          <input type="text" style="margin-left: 15px;" required="true" />
        </div>
        <div>
          <label>社員名（漢字）</label>
          <a>姓</a><input type="text" style="margin-left: 15px;" required="true" />
          <a>名</a><input type="text" style="margin-left: 15px;" required="true" />
          <a>必須</a>
        </div>
        <div>
          <label>性別</label>
          <input type="radio"/><a>男</a>
          <input type="radio"/><a>女</a>  
        </div>
        <div class="ftitle">会社関連情報</div><hr style="border-color: aqua;">
        <div>
          <div>
          <label>所属会社 </label>
          <select>
            <option>株式会社ブライトスター</option>
            <option>株式会社トップクラウド</option>
          </select>
         </div>
         <div>
           <label>入社日</label>
           <input type="date"/>
         </div>
         <div>
           <label>退社日</label>
           <input type="date"/>
         </div>
          <div>
            <label>職業種類</label>
            <select>
              <option>役員</option>
              <option>総務</option>
              <option>IT営業</option>
              <option selected>ITエンジニア</option>
              <option>不動産スタッフ</option>
              <option>個人事業主</option>
            </select>
          </div>
        </div>
      </div>
    
    <!-- 급여관련 정보 -->
    <div class="ftitle">給与関連情報</div><hr style="border-color: aqua;">
      <div style="text-align: left">
        <a>給与振込口座</a>
      </div>
    <div class="dtable">
      <table>
        <thead style="background-color: blue">
          <tr>
            <th>金融機関コード</th>
            <th>金融機関名</th>
            <th>支店名コード</th>
            <th>支店名</th>
            <th>口座種類</th>
            <th>口座番号</th>
            <th>名義人</th>
          </tr>
        </thead>
        <tbody style="background-color: white">
          <tr>
            <td>0005</td>
            <td>三菱UFJ銀行</td>
            <td>316</td>
            <td>福生支店</td>
            <td>普通</td>
            <td>1234567</td>
            <td>フクダ リョウジ</td>
          </tr>
        </tbody>
      </table>
      <div class="ftitle">技術経験</div><hr style="border-color: aqua;">
      <table>
        <tr>
          <td rowspan="3">OS</td>
          <td>DOS</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
          <td>Windows</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
          <td>Unix</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
          <td>Linux</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
          <td>andriod</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
        </tr>

        <tr>
          <!-- <td rowspan="3">OS</td> -->
          <td>IOS</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
          <td>AWS</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
          <td>SAP</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
          <td>Salesforce</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
          <td>Cosminexus</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
        </tr>

        <tr>
          <!-- <td rowspan="3">OS</td> -->
          <td>docker</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
          <td>kubernetes</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
          <td>containerd</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
          <td>azure</td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
          <td></td>
          <td>
            <select>
             <option>◎</option>
             <option>○</option>
             <option>△</option>
            </select>
          </td>
        </tr>
      </table>
    </div>

    <div style="margin: 10px 0 10px 0">
      <label style="background-color: aqua; border: solid black 1px; display:inline-block; width: 50%;">備考及び自己アピール</label>
      <textarea cols="140" rows="10" style="overflow:scroll; overflow-x: hidden; resize: none;">

      </textarea>
    </div>

    <div style="margin: 10px 0 10px 0; text-align: center;">
      <button class="search" type="button" style="width: 150px; height: 35px; ">登　録</button>
    </div>
  </div>
</body>
</html>
