<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyh.system.mapper.ManageMapper">
  <resultMap id="BaseResultMap" type="com.kyh.system.entity.Staff">
    <id column="SYAIN_ID" jdbcType="INTEGER" property="syainId" />
    <result column="FIRST_NAME_KANJI" jdbcType="VARCHAR" property="firstNameKanji" />
    <result column="LAST_NAME_KANJI" jdbcType="VARCHAR" property="lastNameKanji" />
    <result column="SEIBETU" jdbcType="INTEGER" property="seibetu" />
    <result column="SYOZOKU_KAISYA" jdbcType="INTEGER" property="syozokuKaisya" />
    <result column="NYUUSYA_DATE" javaType="java.util.Date" jdbcType="DATE" property="nyuusyaDate" />
    <result column="TAISYA_DATE" javaType="java.util.Date" jdbcType="DATE" property="taisyaDate" />    
    <result column="SYOKUGYO_KIND" jdbcType="INTEGER" property="syokugyoKind" />
    <result column="KINYUKIKAN_CODE" jdbcType="VARCHAR" property="kinyukikanCode" />
    <result column="KINYUKIKAN_NAME" jdbcType="VARCHAR" property="kinyukikanName" />    
    <result column="SITEN_CODE" jdbcType="VARCHAR" property="sitenCode" />
    <result column="SITEN_NAME" jdbcType="VARCHAR" property="sitenName" />
    <result column="KOUZA_KIND" jdbcType="INTEGER" property="kouzaKind" />    
    <result column="KOUZA_NUM" jdbcType="VARCHAR" property="kouzaNum" />
    <result column="MEIGI_NAME" jdbcType="VARCHAR" property="meigiName" />
    <result column="IT_OS" jdbcType="VARCHAR" property="itOs" />    
    <result column="IT_BIKOU" jdbcType="VARCHAR" property="itBikou" />       
  </resultMap>
  	
  <sql id="Base_Column_List">
    SYAIN_ID, FIRST_NAME_KANJI, LAST_NAME_KANJI, SEIBETU, SYOZOKU_KAISYA, NYUUSYA_DATE, TAISYA_DATE, SYOKUGYO_KIND,
    KINYUKIKAN_CODE, KINYUKIKAN_NAME, SITEN_CODE, SITEN_NAME, KOUZA_KIND, KOUZA_NUM, MEIGI_NAME, IT_OS, IT_BIKOU
  </sql>
	
	<select id="findByCriteria" resultMap="BaseResultMap">
    	SELECT
    	<include refid="Base_Column_List"/>
    	FROM syain_new
    	WHERE LAST_NAME_KANJI LIKE CONCAT('%', #{lastNameKanji,jdbcType=VARCHAR}, '%')
	</select>
	
	<select id="countDb" resultType="int">
    	SELECT
    	COUNT(*)
    	FROM syain_new
    	WHERE LAST_NAME_KANJI LIKE CONCAT('%', #{lastNameKanji,jdbcType=VARCHAR}, '%')
	</select>
	
	<select id="searchByid" resultMap="BaseResultMap">
    	SELECT
    	<include refid="Base_Column_List"/>
    	FROM syain_new
    	WHERE SYAIN_ID = #{syainId}
	</select>
	
	<insert id="registerDb" parameterType="com.kyh.system.entity.Staff">
	    INSERT INTO syain_new
	    (SYAIN_ID, FIRST_NAME_KANJI, LAST_NAME_KANJI, SEIBETU, SYOZOKU_KAISYA, NYUUSYA_DATE, TAISYA_DATE, SYOKUGYO_KIND,
    KINYUKIKAN_CODE, KINYUKIKAN_NAME, SITEN_CODE, SITEN_NAME, KOUZA_KIND, KOUZA_NUM, MEIGI_NAME, IT_OS, IT_BIKOU)
	    VALUES
	    (#{syainId}, #{firstNameKanji}, #{lastNameKanji}, #{seibetu}, #{syozokuKaisya}, #{nyuusyaDate}, #{taisyaDate}, 
	     #{syokugyoKind}, #{kinyukikanCode}, #{kinyukikanName}, #{sitenCode}, #{sitenName}, #{kouzaKind}, 
	     #{kouzaNum}, #{meigiName}, #{itOs}, #{itBikou})
	</insert>
	
	<update id="updateDb" parameterType="com.kyh.system.entity.Staff">
    UPDATE syain_new
    SET FIRST_NAME_KANJI = #{firstNameKanji}, LAST_NAME_KANJI = #{lastNameKanji},
        SEIBETU = #{seibetu}, SYOZOKU_KAISYA = #{syozokuKaisya},
        NYUUSYA_DATE = #{nyuusyaDate}, TAISYA_DATE = #{taisyaDate}, 
        SYOKUGYO_KIND = #{syokugyoKind}, KINYUKIKAN_CODE = #{kinyukikanCode}
    WHERE SYAIN_ID = #{syainId}
	</update>
	
	<delete id="deleteDb" parameterType="com.kyh.system.entity.Staff">
    DELETE FROM SYAIN_NEW
    WHERE SYAIN_ID = #{syainId}
	</delete>

</mapper>